.single-review{
    border: 1px solid rgba(128, 128, 128, 0.239);
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.429);
    margin: 10px;   
    border-radius: 10px;

}

.reviewer{
    margin-top: 10px;
}

.review-img{
    border: none;
    width: 50px;
    height: 50px;
    border-radius:50%;
    object-fit: cover;
}
.single-review p{
    display: inline-block;
    margin-bottom:20px;
    max-width: 300px;
    width: 100%;
    word-wrap: break-word;

}

.single-review h3{
    font-size: 1.3em;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.single-review h4{
    font-size: .9em;
    display: inline-block;
}