/* dark header */

.dark .navbar-nav a {
  color: rgba(255, 255, 255, 0.55);
}

.dark .navbar-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.dark .navbar {
  /* background-color: rgb(31, 40, 52); */
  background-color: #161f2b;
}

.dark .dropdown-menu {
  /* background-color: #26292d; */
  background-color: rgb(31, 40, 52);
  color: rgba(255, 255, 255, 0.8);
}

.dark .navbar-nav .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(13, 7, 7);
}

.dark .navbar-nav .nav_dropdown_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-nav .nav-link a {
  color: rgba(255, 255, 255, 0.55);
}

.dark .navbar .nav-name {
  color: white;
  opacity: 0.8;
}

/* light header  */

.light .navbar {
  /* background-color: rgba(239, 237, 237, 0.9); */
  /* background-color: #bdbdbd59; */
  background-color: rgba(128, 128, 128, 0.12);
}

.navbar-light .navbar-nav a,
.navbar-light .navbar-nav .theme_link,
.navbar-light .navbar-nav .nav-link {
  /* color: rgb(0, 0, 0, 0.7); */
  color: #161f2b;
}

.navbar-light .navbar-nav a:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.light .nav-name {
  opacity: 0.9;
}

.light .dropdown-menu {
  /* background-color: #26292d; */
  background-color: rgba(255, 255, 255, 0.95);
  /* color: rgba(255, 255, 255, 0.8); */
}

/* active classes */

.navbar-light .navbar-nav .active-link {
  color: rgb(0, 0, 0, 0.3);
}

.navbar-dark .navbar-nav .active-link {
  color: rgba(255, 255, 255, 0.35);
}

/* responsive typography */

.nav_link,
.theme_link,
.theme_dropdown_option {
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-name {
  font-size: clamp(1.25rem, 1.9887vw + 0.72rem, 2rem);
  margin: 0;
  /* opacity: 0.85; */
}

.user_name {
  font-size: clamp(1rem, 0.56vw + 0.8rem, 1.125rem);
  font-weight: 400;
}

/* dark banner */

.dark .banner-btn {
  color: rgba(0, 0, 0, 0.8);
}

/* nav and navbar  */

.nav {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 80rem);
  /* padding-inline: 1em; */
}

.navbar {
  padding-inline: 1em;
}

/* navbar brand name */
.navbar-brand {
  padding: 0px;
  font-weight: 500;
}

.navbar-brand,
.nav-link,
.theme_link a {
  letter-spacing: 2px;
}

/* navbar links */

/* .nav_link,
.theme_link,
.theme_link a {
  font-weight: 500;
} */

.nav_link,
.theme_link {
  padding-right: clamp(1em, 1em + 0.5vw, 1.5em);
}

.nav_link {
  line-height: 40px;
  letter-spacing: 2px;
  text-decoration: none;
  padding-block: 0.5em;
  transition: all 0.3s ease-in-out;
}

.theme_link {
  line-height: 40px;
  padding-right: 1em;
}

/* dropdown  */

.dropdown-item {
  padding-inline: 0px;
  border-radius: 0.2rem;
}

.navbar-light .navbar-nav .dropdown-item:active {
  background-color: rgb(0, 0, 0, 0.2);
}

/* .dropdown-menu */

.navbar-nav .dropdown-menu {
  position: absolute;
}

.theme_link .dropdown-menu.show {
  left: -2.3rem;
  text-align: center;
  width: 5rem;
  padding: 0.2rem;
}

.user_dropdown .dropdown-menu.show {
  left: -10rem;
  text-align: center;
  width: 15rem;
  padding: 0.2rem;
}

#user_card .dropdown-menu {
  position: absolute;
}

/* user dropdown toggle  */
.user_link.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.1rem;
}

/* theme dropdown toggle  */
.theme_link .dropdown-toggle::after {
  vertical-align: 0.2rem;
}

/* user image */
.user_link .profile-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  /* margin-right: 10px; */
}

.dropdown_img .profile-img {
  height: 6rem;
  width: 6em;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  /* padding-block: 1rem; */
}

.dark .dropdown_img .profile-img:hover {
  box-shadow: 0px 0px 10px 6px black;
}
.light .dropdown_img .profile-img:hover {
  box-shadow: 3px 3px 8px 0px rgb(0, 0, 0, 0.7);
}

/* username theme */
.dark .user_name {
  color: rgba(255, 255, 255, 0.9);
}
.light .user_name {
  color: rgba(0, 0, 0, 0.9);
}

/* user dropdown btn style */
.btn_container button {
  padding: 0.4em 0.8em;
  font-weight: 300;
  font-size: clamp(0.75rem, 0.284vw + 0.69rem, 0.875rem);
  /* 12px,,14px */
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2px;
  /* color: rgb(255, 0, 0); */
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
}

/* media query */

@media screen and (max-width: 767px) {
  .theme_link .dropdown-menu.show {
    margin-inline: auto;
    left: 0px;
    right: 4rem;
  }

  .user_dropdown .dropdown-menu.show {
    width: min(100%, 15rem);
    margin-inline: auto;
    left: 0px;
    right: 110px;
  }
}

/* https://i.ibb.co/8rZ18cX/camera-and-shadow.jpg
https://i.ibb.co/SxrRFS3/camera-g319964f60-1280.jpg */
