.navbar {
  --navbar-bg-color: rgba(128, 128, 128, 0.12);
  --nav-brand-color: rgba(0, 0, 0, 0.9);
  --nav-link-color: rgba(0, 0, 0, 0.8);
  --nav-link-hover: rgba(0, 0, 0, 0.5);
  --nav-active-link: rgba(0, 0, 0, 0.5);
  --dropdown-menu-bg-color: rgba(255, 255, 255, 0.95);
  --dropdown-item-bg-color: rgba(0, 0, 0, 0.08);
  --dropdown-item-border: 1px solid rgba(0, 0, 0, 0.15);
  --user-profile-img-box-shadow: -5px 9px 15px 0px rgb(0, 0, 0, 0.3);
  --user-img-brightness: brightness(1);
}

.navbar.dark {
  --navbar-bg-color: #161f2b;
  --nav-brand-color: rgba(255, 255, 255, 0.9);
  --nav-link-color: rgba(255, 255, 255, 0.65);
  --nav-link-hover: rgba(255, 255, 255, 0.8);
  --nav-active-link: rgba(255, 255, 255, 0.45);
  --dropdown-menu-bg-color: rgb(31, 40, 52);
  --dropdown-item-bg-color: rgba(255, 255, 255, 0.1);
  --dropdown-item-border: 1px solid rgba(255, 255, 255, 0.1);
  --user-profile-img-box-shadow: -12px 24px 24px 0px rgba(0, 0, 0, 0.5);
  --user-img-brightness: brightness(0.95);
}

/* nav navbar */
.nav {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 80rem);
}

.navbar {
  padding-inline: 1em;
  background-color: var(--navbar-bg-color);
}

/* navbar brand  */
.navbar .navbar-brand {
  color: var(--nav-brand-color);
  padding: 0px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: clamp(1.25rem, 1.9887vw + 0.72rem, 2rem);
  margin: 0;
}

/* navbar links */
.navbar-light .navbar-nav a,
.navbar-light .navbar-nav .theme_link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--nav-link-color);
  /* color: #161f2b; */
}

.navbar-light .navbar-nav a:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--nav-link-hover);
}

.dark .navbar-nav a,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--nav-link-color);
}

.dark .navbar-nav a:hover,
.navbar-dark .navbar-nav .nav-link:focus:hover,
.navbar-dark .navbar-nav .show > .nav-link {
  color: var(--nav-link-hover);
}

.nav_link {
  text-decoration: none;
  padding: 0.5rem;
  padding-inline: 0.7em;
  transition: all 0.3s ease-in-out;
}

.nav_link,
.theme_link a,
.theme_dropdown_option {
  line-height: 40px;
  text-transform: uppercase;
  font-size: 13px;
  /* font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem); */
  font-weight: 600;
  letter-spacing: 3px;
}

.nav-link:hover {
  background-color: transparent;
}

/* active classes */
.navbar .navbar-nav .active-link {
  color: var(--nav-active-link);
}

/* dropdown btn  */
.nav-link,
.theme_link,
.theme_link a {
  background-color: transparent;
  border: none;
}

#user_card {
  display: flex;
  justify-content: center;
}

/* profile btn style  */
button.nav-link.dropdown-toggle {
  background-color: transparent;
  outline: none;
  border-color: none;
}

.show > .btn-primary.dropdown-toggle,
button.nav-link:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

/* remove box shadow from dropdown btn */
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}

/* dropdown toggle  */
.user_link.dropdown-toggle::after {
  font-size: 13px;
  margin-left: 0.6rem;
  vertical-align: 0.1rem;
}

.theme_link .dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.2rem;
}

/*  dropdown menu  */
.navbar-nav .dropdown-menu {
  position: absolute;
  background-color: var(--dropdown-menu-bg-color);
}

.dropdown-menu .hr-line {
  color: var(--nav-link-color);
}

.theme_link .dropdown-menu.show {
  left: -2.3rem;
  text-align: center;
  width: 5rem;
  padding: 0.2rem;
}

.user_dropdown .dropdown-menu.show {
  left: -10rem;
  text-align: center;
  width: 15rem;
  padding: 0.2rem;
}

/* navbar dropdown item  */
.navbar-nav a.dropdown-item {
  padding-inline: 0px;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}

.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: var(--dropdown-item-bg-color);
  color: var(--nav-link-color);
  border: var(--dropdown-item-border);
}

/* user name dropdown */
/* username */
.user_name {
  color: var(--nav-link-color);
  font-size: clamp(1rem, 0.56vw + 0.8rem, 1.125rem);
  font-weight: 500;
}

/* navbar user img  */
.user_link .profile-img,
.user_link .default-profile-img {
  width: 2.5rem;
  height: 2.5rem;
}

.profile-img,
.user-profile-img,
.default-profile-img,
.default-user-profile-img {
  border-radius: 50%;
  filter: var(--user-img-brightness);
}

.user-profile-img,
.default-user-profile-img {
  height: 6rem;
  width: 6em;
  box-shadow: var(--user-profile-img-box-shadow);
}

/* user dropdown btn style */
.btn_container button {
  padding: 0.5em 2em;
  font-weight: 500;
  /* font-size: clamp(0.75rem, 0.284vw + 0.69rem, 0.875rem); */
  font-size: 13px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 3px;
  /* color: rgb(255, 0, 0); */
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
}

/* media query */
@media screen and (max-width: 767px) {
  .nav_link,
  .theme_link {
    padding-inline: 0px;
  }

  .theme_link .dropdown-menu.show {
    --theme-menu-width: 5rem;
    --theme-menu-center: calc(calc(var(--theme-menu-width)) * -1);
    left: 50%;
    margin-inline: var(--theme-menu-center);
    width: var(--theme-menu-width);
  }

  .user_dropdown .dropdown-menu.show {
    --user-menu-width: min(100%, 15rem);
    --menu-center: calc(calc(var(--user-menu-width) / 2) * -1);
    left: 50%;
    margin-inline: var(--menu-center);
    width: var(--user-menu-width);
  }
}
