.user_dropdown .dropdown-menu.show {
  left: -200px;
  text-align: center;
  min-width: 18rem;
  padding: 0.2rem;
}

.user_link .profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-right: 10px; */
}

.dropdown_img .profile-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  /* padding-block: 1rem; */
}

.user_name {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}
