.user_dropdown .dropdown-menu.show {
  left: -10rem;

  text-align: center;
  width: 15rem;
  padding: 0.2rem;
}

#user_card .dropdown-menu {
  position: absolute;
}

.user_link .profile-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  /* margin-right: 10px; */
}

.dropdown_img .profile-img {
  height: 6rem;
  width: 6em;
  border-radius: 50%;
  transition: all 0.3s ease;

  /* padding-block: 1rem; */
}

.dropdown_img .profile-img:hover {
  box-shadow: 0px 0px 10px 6px black;
}

.user_name {
  font-size: clamp(1rem, 0.56vw + 0.8rem, 1.125rem);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.btn_container button {
  padding: 0.4em 0.8em;
  font-weight: 300;
  font-size: clamp(0.75rem, 0.284vw + 0.69rem, 0.875rem);
  /* 12px,,14px */
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2px;
  /* color: rgb(255, 0, 0); */
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .user_dropdown .dropdown-menu.show {
    width: min(100%, 15rem);
    margin-inline: auto;
    left: 0px;
    right: 110px;
  }
}
