/* 
https://i.ibb.co/hRC0Lmg/camera-on-tripod-e1651041561801.jpg
https://i.ibb.co/Pg2qvVr/cody-scott-milewski-6-ULu-QVo-Ey2-E-unsplash.jpg
https://i.ibb.co/0KWVQ9d/gear-g5933ea825-1280.jpg
https://i.ibb.co/pnNm59Q/vintage-camera-on-a-decorative-table.jpg 
*/
