/* explore product section */
.explore-product-section {
  padding-block: clamp(2rem, 14.2857vw + -0.857rem, 8rem);
  /* 2rem/32px/320vw ,14.2857vw + -.857rem, 8rem/128px/992vw */
}

.dark .explore-product-section {
  background-color: var(--dark-bg-color);
}

/* explore product item */
.explore-item {
  width: min(80rem, 100%);
  margin-inline: auto;
  --title-color: var(--dark);
  --item-img-opacity: 1;
  --item-description-color: var(--dark);
  --card-rating-color: rgba(255, 189, 65, 0.95);
  --card-empty-color: rgba(200, 200, 200, 0.5);
  --item-btn-bg: rgba(22, 31, 43, 0.9);
  --item-btn-color: rgba(255, 255, 255, 0.88);
  --item-btn-hover-color: rgba(255, 255, 255, 0.9);
  --item-btn-hover-box-shadow: 0 5px 5px rgba(128, 128, 128, 0.6);
}

.dark.explore-item {
  --title-color: rgba(255, 255, 255, 0.95);
  --item-img-opacity: 0.9;
  --item-description-color: rgba(255, 255, 255, 0.7);
  --card-rating-color: rgba(255, 166, 0, 0.95);
  --card-empty-color: rgba(255, 194, 133, 0.35);
  --item-btn-bg: rgba(0, 0, 0, 0.8);
  --item-btn-color: rgba(255, 255, 255, 0.7);
  --item-btn-hover-color: rgba(255, 255, 255, 0.8);
  --item-btn-hover-box-shadow: -5px 12px 5px rgba(0, 0, 0, 0.253);
  /* -7px 12px 2px rgba(0, 0, 0, 0.253) */
}

/* product img container  */
.item_img_wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.item__img {
  opacity: var(--item-img-opacity);
  max-width: 100%;
  border-radius: 1px;
  object-fit: cover;
}

/* product item info  */
.item__info {
  text-align: left;
}

.item__title {
  /* 1.5rem/320vw, 2.5rem/1400vw */
  font-size: clamp(1.5rem, 1.48148vw + 1.2037rem, 2.5rem);
  /* font-size: 1.5rem; */
  font-weight: 600;
  /* font-size: 1.2rem; */
  margin-bottom: clamp(0.75rem, 0.568vw + 0.636rem, 1rem);
  color: var(--title-color);
}

/* .item_container {
   border: 1px solid black; 
}
.item_row {
   padding-inline: 10px;
    border: 1px solid black;
}
.item_info_container {
   border: 1px solid black;
} */

.item__description {
  color: var(--item-description-color);
}

.item__price,
.item__description {
  font-weight: 500;
  /* .875rem/320vw, 1.0625rem/768vw */
  font-size: clamp(0.875rem, 0.6696vw + 0.741rem, 1.0625rem);
  /* margin-bottom: clamp(0.75rem, 0.568vw + 0.636rem, 1rem); */
  margin-bottom: 12px;
}

/* item price */
.item__price {
  color: rgba(255, 255, 255, 0.9);
}

.item__price .dollar-sign {
  font-size: clamp(0.7185rem, 0.426136vw + 0.6335rem, 0.90625rem);
  /* 11.5px/.7185rem/320vw, .426136vw + .6335rem,14.5px/.90625rem/1024  */
  font-weight: 700;
}

.price--main {
  font-size: clamp(1.25rem, 0.71022vw + 1.1079rem, 1.5625rem);
  /* 20px/1.25rem/320vw,.71022vw +  1.1079rem , 25px/1.5625rem/1024vw */
  font-weight: 600;
  vertical-align: -0.3rem;
  /* vertical-align: clamp(-0.3125rem, calc(-0.26988rem + -1.6335vw), -0.40625rem); */
  /* -5px/-.3125rem/320vw, -1.6335vw + -.26988rem  ,-6.5px/-.40625rem/1024vw  */
}

.item__price :is(.price--main, .dollar-sign) {
  color: var(--title-color);
}

.item__description {
  width: min(45rem, 100%);
}

.explore-item .rating--filled,
.explore-item .rating--empty {
  font-size: clamp(1.2845rem, 1.77556vw + 1.21rem, 1.4375rem);
  /*20.5px/1.2845rem/320vw, 1.77556vw + 1.21rem, 23px/1.4375rem/1024vw */
}

.rating_dropdown .dropdown-menu.show {
  left: -5rem;
  text-align: center;
  width: 15rem;
  padding: 0.2rem;
}

.rating_dropdown {
  width: 8.5rem;
  /* margin-inline: auto; */
  display: inline-block;
  /* padding-bottom: 1rem; */
}

.rating_count {
  display: inline-block;
  padding-bottom: 1rem;
  vertical-align: 0.4rem;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  color: var(--item-description-color);
}

.rating_dropdown .dropdown-toggle::after {
  vertical-align: 0.4rem;
  color: var(--item-description-color);
}

.item_btn_container button {
  background-color: var(--item-btn-bg);
  padding: 0.5em 1.5em;
  color: var(--item-btn-color);
  font-size: 0.9375rem;
  /* font-weight: 600; */
}

.item_btn_container button:hover {
  background-color: black;
  color: var(--item-btn-hover-color);
  box-shadow: var(--item-btn-hover-box-shadow);
}

/* 30px, 2.5568vw + 1.36rem ,48px */
@media screen and (max-width: 341px) {
  .rating_dropdown {
    margin-inline: auto;
    display: block;
  }

  .rating_count {
    display: inline-block;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .item__info {
    text-align: center;
  }

  .item_img_wapper {
    padding-bottom: 2rem;
  }

  .item__description {
    margin-inline: auto;
  }
  .item_btn_container button {
    margin-inline: auto;
  }
}

@media screen and (min-width: 250px) {
  .item_btn_container a:first-child {
    margin-right: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .price--main,
  .discounted_price {
    vertical-align: -0.4rem;
  }
}
