/* explore product section */
.explore-product-section {
  padding-block: 8rem;
}

.dark .explore-product-section {
  background-color: var(--dark-bg-color);
}

/* explore product item */
.explore-item {
  width: min(80rem, 100%);
  margin-inline: auto;
  --title-color: var(--dark);
  --price-color: var(--dark);
  --item-img-opacity: 1;
  --item-description-color: var(--dark);
  --card-rating-color: rgba(255, 189, 65, 0.95);
  --card-empty-color: rgba(200, 200, 200, 0.5);
  --item-btn-bg: rgba(22, 31, 43, 0.9);
  --item-btn-color: rgba(255, 255, 255, 0.88);
  --item-btn-hover-color: rgba(255, 255, 255, 0.9);
  --item-btn-hover-box-shadow: 0 5px 5px rgba(128, 128, 128, 0.6);
  --item-btn-hover-box-shadow: -4px 8px 5px rgba(128, 128, 128, 0.6);
}

.dark .explore-item {
  --title-color: rgba(255, 255, 255, 0.98);
  --price-color: rgba(255, 255, 255, 0.9);
  --item-img-opacity: 0.9;
  --item-description-color: rgba(255, 255, 255, 0.7);
  --card-rating-color: rgba(255, 166, 0, 0.95);
  --card-empty-color: rgba(255, 194, 133, 0.35);
  --item-btn-bg: rgba(0, 0, 0, 0.8);
  --item-btn-color: rgba(255, 255, 255, 0.7);
  --item-btn-hover-color: rgba(255, 255, 255, 0.8);
  --item-btn-hover-box-shadow: -5px 8px 5px rgba(0, 0, 0, 0.253);
  /* -8px 8px 5px rgba(0, 0, 0, 0.35) */
}

/* .item__container {
  border: 1px solid black;
}
.item__row {
  padding-inline: 10px;
  border: 1px solid black;
}
.item__info__container {
  border: 1px solid black;
} */

/* product item container */
.item__container {
  width: 90%;
}

/* product item row  */
.item__img__wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid black; */
}

.item__img {
  opacity: var(--item-img-opacity);
  max-width: 100%;
  /* --img-size: 250px;
  width: var(--img-size);
  height: var(--img-size); */
  border-radius: 1px;
  object-fit: cover;
}

/* product item info container*/
.item__info {
  text-align: left;
}

.item__title {
  /* 1.5rem/320vw, 2.5rem/1400vw */
  font-size: clamp(1.5rem, 1.48148vw + 1.2037rem, 2.5rem);
  /* font-size: 1.5rem; */
  font-weight: 600;
  margin-bottom: clamp(0.75rem, 0.568vw + 0.636rem, 1rem);
  color: var(--title-color);
}

.item__description {
  color: var(--item-description-color);
  width: min(45rem, 100%);
  text-align: justify;
}

.item__price,
.item__description {
  font-weight: 500;
  /* .875rem/320vw, 1.0625rem/768vw */
  font-size: clamp(0.875rem, 0.6696vw + 0.741rem, 1.0625rem);
  margin-bottom: 0.5em;
}

.item__price {
  color: var(--price-color);
}

.item__price .dollar-sign {
  font-size: clamp(0.7185rem, 0.426136vw + 0.6335rem, 0.90625rem);
  /* 11.5px/.7185rem/320vw - 14.5px/.90625rem/1024  */
  font-weight: 700;
}

.price--main {
  font-size: clamp(1.25rem, 0.71022vw + 1.1079rem, 1.5625rem);
  /* 20px/1.25rem/320vw - 25px/1.5625rem/1024vw */
  font-weight: 600;
  vertical-align: -0.3rem;
  /* -5px/-.3125rem/320vw - -6.5px/-.40625rem/1024vw  */
}

/* rating style */
.explore-item .rating--filled,
.explore-item .rating--empty {
  font-size: clamp(1.25rem, 0.447094vw + 1.16058rem, 1.4375rem);
  /*20px/1.2845rem/320vw - 23px/1.4375rem/1024vw */
}

/* dropdown button */
button.btn,
button.dropdown-toggle:hover,
.btn-primary.dropdown-toggle:focus,
button.btn-primary:active:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.45rem;
  color: var(--item-description-color);
}

.rating_dropdown .dropdown-menu.show {
  left: -5rem;
  text-align: center;
  width: 15rem;
  padding: 0.2rem;
}

.rating_dropdown {
  width: 8.5rem;
  display: inline-block;
}

.rating_count {
  display: inline-block;
  padding-bottom: 1rem;
  vertical-align: 0.4rem;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  color: var(--item-description-color);
}

.quantity {
  margin-top: 1rem;
}
.quantity__label {
  padding-right: 0.5rem;
  font-weight: 500;
}

.explore-item input[type="number"] {
  width: 5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  /* background-color: rgb(27, 37, 48); */
  /* background-color: rgba(255, 255, 255, 0.94); */
  /* color: white; */
  font-weight: 500;
}

.explore-item input[type="number"]:focus {
  outline: none;
}

.rating_dropdown .dropdown-toggle::after {
  vertical-align: 0.4rem;
  color: var(--item-description-color);
}

.quantity__label {
  color: var(--title-color);
}

.item_btn_container button {
  background-color: var(--item-btn-bg);
  padding: 0.5em 1.5em;
  color: var(--item-btn-color);
  font-size: clamp(0.8125rem, 0.297619vw + 0.752976rem, 0.9375rem);
}

.item_btn_container button:hover {
  background-color: black;
  color: var(--item-btn-hover-color);
  box-shadow: var(--item-btn-hover-box-shadow);
}

@media screen and (max-width: 991px) {
  .explore-product-section {
    padding-block: clamp(2rem, 4.769vw + 1.0462rem, 4rem);
  }

  .item__container {
    width: 100%;
  }

  .item__info {
    text-align: center;
  }

  .item__img__wrapper {
    padding-bottom: 1rem;
  }

  .item__img {
    --img-size: clamp(12.5rem, 8.94188vw + 10.7116rem, 16.25rem);
    height: var(--img-size);
    width: var(--img-size);
  }

  .item__description,
  .item__title {
    margin-inline: auto;
    text-align: center;
    width: min(40rem, 100%);
  }

  .item_btn_container button {
    margin-inline: auto;
  }
}

@media screen and (max-width: 341px) {
  .rating_dropdown {
    margin-inline: auto;
    display: block;
  }

  .rating_count {
    display: inline-block;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 250px) {
  .item_btn_container a:first-child {
    margin-right: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .price--main,
  .discounted_price {
    vertical-align: -0.4rem;
  }
}
