p,
h1,
h2,
h3,
h5,
h6,
a,
button {
  letter-spacing: 2px;
}

/* banner */

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  /* display: none; */
  opacity: 0;
}
.banner-info {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 10em;
}

/* .banner-info div{

} */

.banner-info h2 {
  font-size: clamp(1.5rem, 5.68vw + 0.36rem, 4rem);
  font-weight: 700;
  max-width: 700px;
}

/* 24px, ,64px */

.banner {
  /* height: 94vh;
  max-height: 800px; */
  height: min(94vh, 53.125rem);
  object-fit: cover;
  object-position: center;
}
.banner-btn {
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 2em;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid black;
  transition: 0.5 ease;
}

.banner-btn:hover {
  background-color: #24232368;
  color: white;
  border: 1px solid black;
}
/* @media screen and (min-width: 1200px) {
  .banner {
  }
} */

/* Demo Products */

/* Mid banner and iframe */

.mid-banner {
  position: relative;
  padding-block: 5rem;
  padding-block: clamp(5rem, 6.8vw + 3.63rem, 8rem);
  /*80px, 6.3vw + 3.63rem  ,128px  */
  padding-inline: 1em;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.dark-mid-banner:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  /* background-position: center;
  background-size: cover; */
  opacity: 0.95;
  background-color: #16202c;
}

.dark-mid-banner,
.light-mid-banner {
  background-image: url("https://i.ibb.co/8rZ18cX/camera-and-shadow.jpg");
}

.light-mid-banner:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  /* background-position: center;
  background-size: cover; */
  opacity: 0.8;
  background-color: #dbdbdb;
}
.iframe-container,
.mid-banner-info {
  position: relative;
  z-index: 1;
}

.mid-banner-info p {
  letter-spacing: 3px;
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
}

.mid-banner-info h2 {
  font-size: clamp(1.875rem, 2.5568vw + 1.36rem, 3rem);

  /* font-size: 2.5rem; */
  margin-bottom: 1em;
}
.iframe-container {
  position: relative;
  width: min(100%, 1200px);
  height: 510px;

  margin-inline: auto;
  overflow: hidden;
}

.iframe {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* 560 */
  width: 100%;
  /* 315 */
  /* height: max(100%, 630px); */
  height: calc(100% + 120px);
  /* height: 630px; */
  margin-top: -59px;
  border: 0;
  /* pointer-events: none; */
}

.iframe_disable {
  pointer-events: none;
}

/* reviews  */

/* media query  */
@media screen and (max-width: 519px) {
  .iframe-container {
    width: 100%;
    height: 170px;
  }
}
@media screen and ((min-width: 520px) and (max-width: 700px)) {
  .iframe-container {
    /* width: 100%; */
    height: 270px;
  }
}
@media screen and (max-width: 500px) {
  .banner-btn {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 50px;
    margin-top: 20px;
  }
  .banner-info {
    margin-bottom: 9em;
  }

  .banner-style {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .iframe-container {
    width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  .iframe-container {
    /* width: 100%; */
    height: 400px;
  }
}

/* .mid-banner {
  width: 100%;
  height: 100%;
}
.iframe-container {
  position: relative;
} */

/* .ytp-chrome-top {
  display: hidden;
} */
