p,
h1,
h2,
h3,
h5,
h6,
a,
button {
  letter-spacing: 1px;
}

/* Banner */
.banner {
  --brightness: brightness(60%);
}
.banner.dark {
  --brightness: brightness(35%);
}

.carousel-item {
  position: relative;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  display: none;
  opacity: 0;
}

.carousel-caption {
  right: 0;
  left: 0;
}
.banner-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 2rem; */
  margin-inline: 10px;
}

.banner-info h2 {
  font-size: clamp(1.5rem, 5.68vw + 0.36rem, 4rem);
  margin-top: 4rem;
  font-weight: 700;
  max-width: 700px;
}

/* 24px, ,64px */

.banner_img {
  /* height: 94vh;
  max-height: 800px; */
  height: min(90vh, 53.125rem);
  object-fit: cover;
  object-position: center;
  filter: var(--brightness);
}

a.banner-btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 600;
  /* 16px   / 1rem  /  320vw,       1.2784vw +  .744318rem  ,        25px / 1.5625rem / 1024vw  */
  font-size: clamp(1rem, 1.2784vw + 0.744318rem, 1.5625rem);
  padding: 0.5em 1em;
  border-radius: 2px;
  margin-top: 1em;
  border: 1px solid rgba(255, 255, 255, 0.902);
  transition: 0.5 ease;
}

/* .dark .banner-btn {
  color: white;
} */
.banner-btn:hover {
  background-color: white;
  border: 1px solid transparent;
  font-weight: 600;
  color: black;
}

@media screen and (max-width: 500px) {
  .banner-btn {
    /* font-size: 1rem; */
    /* padding: 0.8rem 3rem; */
    /* border-radius: 50px; */
    /* margin-top: 20px; */
  }

  .banner-style {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}
/* Mid banner and iframe */
.mid-banner {
  position: relative;
  /* padding-top: 4rem; */
  padding-top: clamp(4rem, 9.09vw + 2.1818rem, 8rem);
  /*64px/ 4rem/320vw, 9.09vw + 2.1818rem  , 8rem/128px/1024vw  */
  /*80px, 6.3vw + 3.63rem  ,128px  */
  padding-inline: 1em;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.dark-mid-banner:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  /* background-position: center;
  background-size: cover; */
  opacity: 0.88;
  background-color: #091e37;
}

.dark-mid-banner,
.light-mid-banner {
  background-image: url("https://i.ibb.co/8rZ18cX/camera-and-shadow.jpg");
  background-size: cover;
}

.light-mid-banner:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  /* background-position: center;
  background-size: cover; */
  opacity: 0.9;
  background-color: #dbdbdbe7;
}

.iframe-container,
.mid-banner-info,
.credit {
  position: relative;
  z-index: 1;
}

.credit p,
.credit a {
  /* margin-top: rem; */
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  font-weight: 500;
  letter-spacing: 3px;
  padding-block: clamp(2rem, 4.545vw + 1.09rem, 4rem);
  /* 32px/ 2rem /320vw , 4.545vw + 1.09rem ,64px/4rem/1024vw  */
  /* padding-block: clamp(1.875rem, 2.5568vw + 1.36rem, 3rem); */
  color: rgba(22, 32, 44, 1);
}

.credit a {
  font-weight: 600;
  text-decoration: none;
}

.dark .credit p,
.dark .credit a {
  color: rgba(255, 255, 255, 0.8);
}

/* .react_youtube {
  position: relative;
  z-index: 1;
} */

.mid-banner-info p {
  letter-spacing: 3px;
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  font-weight: 500;
}

.mid-banner-info h2 {
  font-size: clamp(1.875rem, 2.5568vw + 1.36rem, 3rem);
  /* font-size: 2.5rem; */
  margin-bottom: 1em;
}

.iframe-container {
  position: relative;
  width: min(100%, 1200px);
  height: clamp(6.5625rem, 42.526vw + -0.8796rem, 31.8125rem);
  /* 105px/ 6.5625rem/280vw, 42.526vw + -.8796rem, 509px/ 31.8125rem/1230vw */
  margin-inline: auto;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem rgba(66, 66, 66, 0.5);
}

.dark .iframe-container {
  box-shadow: -0.2rem 0.7rem 2rem 0 rgba(24, 24, 24, 0.72);
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  /* height: max(100%, 630px); */
  height: calc(100% + 120px);
  /* height: 630px; */
  margin-top: -60.3px;
  /* margin-top: -3.76875em; */
  border: 0;
  pointer-events: none;
}

.iframe_disable {
  pointer-events: none;
}

/* Reviews  */
/* swiper  */
.swiper {
  width: min(90%, 90rem);
  margin-inline: auto;
  padding-top: 10rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  color: #16202c70;
  /* display: none; */
  font-size: 2rem;
}

.dark .swiper .swiper-button-next::after,
.dark .swiper .swiper-button-prev::after {
  color: black;
  /* display: none; */
  /* font-size: 2rem; */
}
@media screen and (max-width: 640px) {
  .swiper .swiper-button-next::after,
  .swiper .swiper-button-prev::after {
    display: none;
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: rgb(95, 95, 95);
}

/* reviews  */
.reviews {
  /* padding-bottom: 2rem; */
  padding-top: 2.5rem;
  /* padding-inline: 2em; */
  /* background-color: rgba(128, 128, 128, 0.239); */
}

.review_info {
  /* padding-top: 2em; */
  margin-bottom: 1em;
}

.reviews_container {
  padding-top: 3rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  /* padding-block: 2rem; */
  background-color: rgba(241, 241, 241, 0.572);
}

.dark .reviews_container {
  background-color: var(--dark-bg-color);
}

.review_info h2 {
  font-size: clamp(1.875rem, 2.5568vw + 1.36rem, 3rem);
  font-weight: 500;
  margin-bottom: 0.5em;
}

.review_info h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
}

/* single review */
.single-review {
  /* border: 1px solid rgba(128, 128, 128, 0.239); */
  box-shadow: 0px 0.5rem 1rem rgba(128, 128, 128, 0.429);
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: min(50rem, 90%);
  margin-top: 1.5rem;
  display: inline-block;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
  /* margin-inline: 20rem; */
}

.dark .single-review {
  background-color: #1c2837;
  box-shadow: var(--dark-card-box-shadow);
}

/* .reviewer {
  /* margin-top: 10px; /
} */

.review-img {
  --img-width: clamp(4.375rem, 1.136vw + 4.147rem, 5rem);
  --img-center: calc(calc(var(--img-width) / 2) * -1);
  position: absolute;
  top: var(--img-center);
  left: 50%;
  margin-inline: var(--img-center);
  width: var(--img-width);
  height: var(--img-width);
  /* -35px/320vw, -8.5227vw +, -40px/1200vw  */
  /* 70px/320vw, 1.136vw + 4.147rem , 80px/1200vw  */
  /* right: 0; */
  /* bottom: 0; */
  /* border: 5px solid white; */
  outline: 7px solid rgba(166, 166, 166, 0.197);

  border-radius: 50%;
  object-fit: cover;
}

.single-review p,
.description_text {
  display: inline-block;
  margin-bottom: 2rem;
  /* max-width: 40rem; */
  width: min(35rem, 100%);
  padding-inline: 1em;
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);

  /* margin-inline: auto; */
  /* text-align: justify; */
  /* width: 100%; */
  /* word-wrap: break-word; */
}
.description_text p {
  width: 200px;
}

.single-review h3 {
  font-size: 1.3em;
  /* display: inline-block; */
  margin-top: 3rem;
  /* margin-right: 10px; */
}

.single-review h4 {
  font-size: 0.9em;
  /* display: inline-block; */
}

/* see more text  */
.see_more {
  color: rgba(22, 32, 44, 0.5);
  font-weight: 500;
}
