.purchase_section {
  padding-block: 10rem;
}

/* .purchase .purchase-item .rating,
.purchase-item .empty_rating {
  font-size: 1.2rem;
} */

.purchase-form {
  /* border: 1px solid black;     */
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.purchase-heading {
  font-size: 2.5em;
  padding-top: 0.8em;
  padding-bottom: 1em;
}

.purchase-form input {
  width: 70%;
  height: 40px;
  font-size: 20px;
  margin-inline: auto;
  /* border: 1px solid black; */
  padding: 5px;
  margin: 5px;
}

.purchase-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:  1px solid black; */
}

.purchase-img {
  width: 50%;
}

.item-img {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 750px) {
  .purchase-form input {
    width: 80%;
  }

  .purchase-heading {
    font-size: 2em;
    padding-top: 0.8em;
    padding-bottom: 1em;
  }

  .purchase-form input {
    border-radius: 2px;
    width: 90%;
    height: 30px;
    font-size: 17px;
    margin-inline: auto;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
  }

  .purchase-form {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .purchase-img {
    width: 100%;
  }
}
