/* purchase section  */
.purchase_section {
  padding-block: 5rem;
}

.dark .purchase_section {
  background-color: var(--dark-bg-color);
}

/* .purchase .purchase-item .rating,
.purchase-item .empty_rating {
  font-size: 1.2rem;
} */

.purchase-heading {
  font-size: var(--fs-heading);
  /* padding-top: 0.8em; */
  padding-bottom: 1em;
}

.purchase-info-container {
  width: min(80rem, 100%);
  margin-inline: auto;
}

.purchase-col-container {
  /* border: 1px solid white; */
  margin-inline: 5px;
}
/* purchase img */
.purchase-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding-inline: 0px;
}

.purchase-img {
  /* width: 50%; */
}

.item-img {
  width: 300px;
  height: 300px;
}

/* purchase form */
.purchase-form-container {
  /* border: 1px solid white; */
  padding-inline: 0px;
}

.purchase-form {
  /* border: 1px solid black; */
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.purchase-form input {
  /* width: 70%; */
  width: min(25rem, 100%);
  height: 40px;
  font-size: 20px;
  margin-inline: auto;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  /* padding: 5px; */
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

.dark .purchase-form input {
  border-bottom: 1px solid white;
  color: white;
}

.purchase-form input:focus-visible {
  outline: 0px solid white;
}

.purchase-form input:-webkit-autofill {
  -webkit-background-clip: text;
}

button.purchase-btn {
  background-color: black;
}

@media screen and (max-width: 425px) {
  .purchase-col-container {
    margin-inline: 0px;
  }
}
