.side-links a {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  margin: 5px 0px;
  color: black;
}

.dashboard_link .active__links {
  color: white;
}

.dark .side-links a {
  color: rgba(255, 255, 255, 0.65);
}

.appbar-title {
  /* margin-inline: auto; */
}
.dark .appbar {
  background-color: rgba(35, 42, 49, 0.75);
  background-color: #161f2b;
  color: rgba(255, 255, 255, 0.8);
  color: white;
}
.drawer {
  height: 100vh;
}
.dark.drawer {
  background-color: rgba(35, 42, 49, 0.75);
  background-color: #161f2b;

  color: rgba(255, 255, 255, 0.8);
}

.side-links {
  margin-top: 2em;
  margin-left: 3em;
  text-align: left;
}

.main_content {
  height: 100vh;
  background-color: rgb(35, 54, 75);
}

/* dashboard home style */
.dashboard__section {
  /* height: 100vh; */
}
.dark .dashboard__section {
  /* background-color: black; */
  color: rgba(255, 255, 255, 0.8);
}
