/* drawer  */
.drawer {
  --color: black;
  --bg-color: white;
  --link-color: var(--dark);
  --link-hover-color: black;
  --link-active-color: black;
}

.dark.drawer {
  --color: white;
  --bg-color: #161f2b;
  --link-color: rgba(255, 255, 255, 0.65);
  --link-hover-color: rgba(255, 255, 255, 0.85);
  --link-active-color: white;
}

.drawer {
  height: 100vh;
  color: var(--color);
  background-color: var(--bg-color);
}

.side-links {
  margin-top: 2em;
  margin-left: 3em;
  text-align: left;
}

.side-links a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 5px 0px;
  color: var(--link-color);
}

:is(.side-links, .dashboard_links) a:hover {
  color: var(--link-hover-color);
}

.side-links a.active__link {
  color: var(--link-active-color);
  font-weight: 600;
}

.drawer .log-out {
  margin-top: 0.5rem;
  border-radius: 3px;
  font-weight: 600;
}

/* appbar  */
#appbar {
  background-color: rgb(236, 236, 236);
  color: var(--dark);
}

.appbar-title {
  margin: 0;
}
.dark .appbar {
  /* background-color: rgba(35, 42, 49, 0.75); */
  background-color: #161f2b;
  color: rgba(255, 255, 255, 0.8);
  color: white;
}

.main_content {
  /* height: 100vh; */
}

.dark .main_content {
  background-color: rgb(35, 54, 75);
}

.product-orders {
  /* background-color: rgb(35, 54, 75); */
}

/* dashboard home style */

.dashboard__section {
  --appbar-height: 64px;
  height: calc(100vh - var(--appbar-height) - 48px);
}

@media screen and (max-width: 600px) {
  .dashboard__section {
    --appbar-height: 56px;
  }
}

.dark .dashboard__section {
  /* background-color: black; */
  color: rgba(255, 255, 255, 0.8);
}
.dashboard__section h2 {
  font-size: 2rem;
}
