/* footer background image */
.footer-top {
  /* background-color: #232f3e; */
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  /* background-blend-mode: multiply; */
  text-align: left;
  padding-top: 2em;
  /* padding-inline: 10px; */
}

.dark-bg:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  /* background-position: center;
  background-size: cover; */
  opacity: 0.9;
  background-color: #16202c;
}

.dark-bg,
.light-bg {
  background-image: url("https://i.ibb.co/BVcqW6j/one-camera-lens-on-dark-surface.jpg");
}

.light-bg:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  /* background-position: center;
  background-size: cover; */
  /* opacity: 1; */
  background-color: rgba(248, 248, 248, 0.9);
}

.top-footer {
  /* margin-inline: 10px; */

  max-width: 1200px;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.footer-info a,
.footer-info p {
  /* color: var(--footer-color); */
  padding-bottom: 0.4rem;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
}

.footer-info h4 {
  padding-block: 1rem;
}

.links a {
  text-decoration: none;
  /* font-weight: 400; */
  display: inline-block;
  margin-bottom: 5px;
}
/* .links a:hover,
.contacts p:hover {
  color: rgba(255, 255, 255, 1);
   font-weight: 500; 
} */

.icon-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 50%;
  font-size: 1.1rem;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  /* color: white; */
  transition: all 0.5s ease;
}
/* .icon-links a:hover {
  background-color: white;
  color: black; 
  box-shadow: 4px 4px 3px 1px black;
} */
.icon-links .facebook:hover {
  color: #4267b2;
}
.icon-links .twitter:hover {
  color: #00acee;
}
.icon-links .instagram:hover {
  color: #c13584;
}
.icon-links .linkedIn:hover {
  color: #0072b1;
}
.footer-bottom {
  /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
  border-color: white;
  font-size: 1rem;
  /* color: var(--footer-color); */
}

.footer-section p {
  max-width: 18rem;
}

@media screen and (min-width: 994px) {
  .contacts {
    padding-left: 1rem;
  }
}

.dark .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  color: var(--footer-color);
}
.light .footer-top {
  color: black;
}
.light .footer-top a,
.light .footer-top p {
  color: rgba(0, 0, 0, 0.6);
}
.dark .footer-top {
  color: white;
}

.dark .footer-top a,
.dark .footer-top p {
  color: var(--footer-color);
}

.light .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  /* opacity: 0.5; */
  /* color: var(--footer-color); */
}

.light .footer-bottom p {
  color: black;
  font-weight: 500;
}

.light .links a:hover,
.light .contacts p:hover {
  color: rgb(0, 0, 0);
  /* font-weight: 500; */
}

.light .icon-links a {
  border: 1px solid rgba(73, 73, 73, 0.905);
  color: rgb(62, 62, 62);
}
.light .icon-links a:hover {
  background-color: rgba(226, 226, 226, 0.7);
  border: 1px solid rgb(255, 255, 255);
  /* color: black; */
  box-shadow: 4px 4px 3px 1px rgb(144, 144, 144);
}

.light .contacts p {
  color: black;
}

.dark .footer-top {
  color: white;
}

.dark .footer-top a,
.dark .footer-top p {
  color: var(--footer-color);
}
.dark .links a:hover,
.dark .contacts p:hover {
  color: rgba(255, 255, 255, 1);
  /* font-weight: 500; */
}
.dark .icon-links a {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.dark .icon-links a:hover {
  background-color: white;
  /* color: black; */
  box-shadow: 4px 4px 3px 1px black;
}
/* #4267B2 fb fa-facebook-f*/
/* #00acee tw fa-twitter*/
/* #0072b1 lin fa-linkedin-in*/
/* #3f729b ins fa-instagram*/
