.footer {
  --dark: rgb(33, 37, 41);
  --footer-heading-color: var(--dark);
  --footer-bg-color: rgb(232, 232, 232);
  --footer-icon-bg-color: rgba(221, 221, 221, 0.873);
  --footer-icon-color: rgb(62, 62, 62);
  --footer-icon-box-shadow: 0 0.25rem 0.5rem rgba(103, 103, 103, 0.1);
  --footer-icon-hover-box-shadow: 0 0.25rem 0.5rem rgba(103, 103, 103, 0.4);
  --footer-icon-hover-bg-color: rgba(233, 233, 233, 1);
  --footer-link-color: rgba(0, 0, 0, 0.5);
  --footer-link-hover-color: rgba(0, 0, 0, 0.9);
  --footer-link-weight: 600;
  --footer-bottom-color: var(--dark);
  --footer-bottom-border-top-color: rgba(0, 0, 0, 0.3);
}

.footer.dark_footer {
  --blue-zodiac: rgb(29, 46, 70);
  --footer-heading-color: rgba(255, 255, 255, 0.9);
  --footer-bg-color: #16202c;
  --footer-icon-bg-color: var(--blue-zodiac);
  --footer-icon-hover-bg-color: var(--blue-zodiac);
  --footer-icon-color: rgba(255, 255, 255, 0.55);
  --footer-icon-box-shadow: 0 4px 3px 0 rgb(26, 26, 26);
  --footer-icon-hover-box-shadow: 0 4px 3px 0 rgb(26, 26, 26);
  --footer-link-color: rgba(255, 255, 255, 0.55);
  --footer-link-hover-color: rgba(255, 255, 255, 0.9);
  --footer-link-weight: 500;
  --footer-bottom-color: rgba(255, 255, 255, 0.85);
  --footer-bottom-border-top-color: rgba(255, 255, 255, 0.3);
}

/* footer background image */
.footer {
  position: relative;
  background-image: url("https://i.ibb.co/BVcqW6j/one-camera-lens-on-dark-surface.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: left;
  padding-top: clamp(2rem, 2.2727vw + 1.5454rem, 3rem);
}

.footer:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  background-color: var(--footer-bg-color);
}

/* main footer  */
.main-footer {
  width: min(81rem, 100%);
  margin-inline: auto;
  position: relative;
  z-index: 1;
  padding-inline: 1rem;
}

/* footer info */
.footer-info {
  padding-bottom: 1rem;
}

.footer-info :is(h4, h5) {
  color: var(--footer-heading-color);
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0.625em;
  /* 21.5 - 24 320 - 1440  */
  font-size: clamp(1.34375rem, 0.223214vw + 1.29911rem, 1.5rem);
}

.links a:hover,
.contacts p:hover {
  color: var(--footer-link-hover-color);
}

:is(.footer-section, .contacts) p,
.links a {
  display: block;
  text-decoration: none;
  color: var(--footer-link-color);
  font-weight: var(--footer-link-weight);
  padding-bottom: 0.4375rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  transition: all 0.1s;
}

:is(.footer-section, .links, .contacts) {
  margin-bottom: 1rem;
}

/* icon links */
.icon-links a {
  --square-box: clamp(2.1875rem, 0.7102vw + 2.045rem, 2.5rem);
  display: inline-block;
  height: var(--square-box);
  width: var(--square-box);
  font-size: clamp(0.9375rem, 0.426136vw + 0.85227rem, 1.125rem);
  line-height: clamp(2.125rem, 0.71vw + 1.9829rem, 2.4375rem);
  text-align: center;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--footer-icon-bg-color);
  box-shadow: var(--footer-icon-box-shadow);
  color: var(--footer-icon-color);
  transition: all 0.2s;
}

.icon-links a:hover {
  background-color: var(--footer-icon-hover-bg-color);
  border: 1px solid transparent;
  box-shadow: var(--footer-icon-hover-box-shadow);
}

.icon-links .facebook:hover {
  color: #4267b2;
}

.icon-links .twitter:hover {
  color: #00acee;
}

.icon-links .instagram:hover {
  color: #c13584;
}

.icon-links .linkedIn:hover {
  color: #0072b1;
}

/* contacts */
.contacts span {
  color: var(--footer-heading-color);
}

/* footer section */
.footer-section p {
  width: min(19rem, 90%);
}

@media screen and (min-width: 992px) {
  /* 992vw 1260vw */
  .contacts {
    margin-left: clamp(0rem, 29.8507vw + -18.5075rem, 5rem);
  }
  .information {
    margin-left: clamp(1.5rem, 20.8955vw + -11.4552rem, 5rem);
  }
}

/* footer bottom */
.footer-bottom {
  border-top: 1px solid var(--footer-bottom-border-top-color);
}

.footer-bottom p {
  font-size: 14px;
  color: var(--footer-bottom-color);
  font-weight: var(--footer-link-weight);
}

/* #4267B2 fb fa-facebook-f*/
/* #00acee tw fa-twitter*/
/* #0072b1 lin fa-linkedin-in*/
/* #3f729b ins fa-instagram*/
