.footer {
  --footer-bg-color: rgb(232, 232, 232);
  --footer-icon-bg-color: rgba(221, 221, 221, 0.873);
  --footer-icon-color: rgb(62, 62, 62);
  --footer-icon-box-shadow: 0 0.25rem 0.5rem rgba(103, 103, 103, 0.1);
  --footer-icon-hover-box-shadow: 0 0.25rem 0.5rem rgba(103, 103, 103, 0.4);
  --footer-icon-hover-bg-color: rgba(233, 233, 233, 1);
  /* --footer-icon-bg-color: rgba(221, 221, 221, 0.873); */
}

.footer.dark_footer {
  --footer-bg-color: #16202c;
  --footer-icon-bg-color: rgb(32, 50, 70);
  --footer-icon-hover-bg-color: rgb(28, 63, 100);
  --footer-icon-color: rgba(255, 255, 255, 0.55);
  --footer-icon-box-shadow: 0 4px 3px 0 rgb(26, 26, 26);
  --footer-icon-hover-box-shadow: 0 4px 3px 0 rgb(26, 26, 26);
}

/* footer background image */
.footer {
  position: relative;
  background-image: url("https://i.ibb.co/BVcqW6j/one-camera-lens-on-dark-surface.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: left;
  padding-top: clamp(2rem, 2.2727vw + 1.5454rem, 3rem);
}

.footer:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  background-color: var(--footer-bg-color);
}

/* main footer  */
.main-footer {
  width: min(81rem, 100%);
  margin-inline: auto;
  position: relative;
  z-index: 1;
  padding-inline: 1rem;
}

/* footer info */
.footer-info h4 {
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: black;
  font-weight: 600;
}

.footer-info a,
.footer-info p {
  /* color: black; */
  padding-bottom: 0.625em;
  margin-bottom: 0px;
  font-size: var(--fs-normal);
  font-size: clamp(0.75rem, 0.284vw + 0.693rem, 0.875rem);
  /* font-size: clamp(0.875rem, 0.142vw + 0.84659rem, 0.9375rem); */
  font-size: 14px;
  transition: all 0.1s;
}

.footer-info .links a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.footer-info a,
.footer-info p,
.contacts p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.footer-section,
.links,
.contacts {
  margin-bottom: 1rem;
}

/* icon links */
.icon-links a {
  display: inline-block;
  height: clamp(2.1875rem, 0.7102vw + 2.045rem, 2.5rem);
  width: clamp(2.1875rem, 0.7102vw + 2.045rem, 2.5rem);
  font-size: clamp(0.9375rem, 0.426136vw + 0.85227rem, 1.125rem);
  text-align: center;
  line-height: clamp(2.125rem, 0.71vw + 1.9829rem, 2.4375rem);
  margin-right: 10px;
  /* border: 1px solid rgba(73, 73, 73, 0.525); */
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--footer-icon-bg-color);
  box-shadow: var(--footer-icon-box-shadow);
  color: var(--footer-icon-color);
  transition: all 0.2s;
}

.icon-links a:hover {
  background-color: var(--footer-icon-hover-bg-color);
  border: 1px solid transparent;
  box-shadow: var(--footer-icon-hover-box-shadow);
}

.icon-links .facebook:hover {
  color: #4267b2;
}

.icon-links .twitter:hover {
  color: #00acee;
}

.icon-links .instagram:hover {
  color: #c13584;
}

.icon-links .linkedIn:hover {
  color: #0072b1;
}

/* contacts */
.contacts span {
  color: black;
}

/* footer section */
.footer-section p {
  width: min(19rem, 90%);
  /* width: 90%; */
}

/* links */
.links a {
  text-decoration: none;
  /* font-weight: 400; */
  display: inline-block;
}

/* .links, */
@media screen and (min-width: 992px) {
  .information,
  .contacts {
    margin-left: clamp(0rem, 26.86567vw + -16.6567rem, 4.5rem);
  }
}

/* footer bottom */
.footer-bottom {
  /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: black;
  font-weight: 500;
  /* color: var(--footer-color); */
}

.dark .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  /* font-size: 1rem; */
  color: rgba(255, 255, 255, 0.875);
}

/* dark theme */
.dark .footer h4 {
  color: rgba(255, 255, 255, 0.9);
}

.dark .footer-info a,
.dark .footer-info p,
.dark .contacts span {
  color: var(--dark-footer-color);
}

.dark .footer a,
.dark .footer p {
  font-weight: 400;
}

.dark .links a:hover,
.dark .contacts p:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* #4267B2 fb fa-facebook-f*/
/* #00acee tw fa-twitter*/
/* #0072b1 lin fa-linkedin-in*/
/* #3f729b ins fa-instagram*/
