.login,
.register {
  --color: rgb(33, 37, 41);
  --border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  --border-bottom-focus: 1px solid rgba(0, 0, 0, 0.5);
  --auth-color: var(--color);
  --placeholder-focus-color: transparent;
  --auth-bg-color: white;
  --auth-bg-opacity: 0.825;
  --auth-heading: var(--color);
  --auth-link-color: ;
  --auth-btn-weight: 500;
}

.dark-auth :is(.login, .register) {
  --auth-color: rgba(255, 255, 255, 0.75);
  --dark-auth-link: rgba(255, 255, 255, 0.9);
  --border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  --border-bottom-focus: 1px solid rgba(255, 255, 255, 0.7);
  --placeholder-focus-color: transparent;
  --auth-bg-color: #152131;
  --auth-bg-color: #202f43;
  --auth-bg-opacity: 0.9;
  --auth-heading: rgba(255, 255, 255, 0.9);
  --auth-link-color: ;
  --auth-btn-weight: 400;
}

/*  auth background and theme */
.login,
.register {
  /* margin-bottom: 50px; */
  position: relative;
  padding-block: clamp(3.5rem, 7.9545vw + 1.9rem, 7rem);
  /* padding-block: 3.5rem; */
  /* 56px/3.5rem/320vw , 7.9545vw + 1.9rem, 112px/7rem, 1024vw */
  background-image: url("https://i.ibb.co/vBc1g11/conor-luddy-1638x2048.jpg");
  /* filter: brightness(90%); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.login:after,
.register:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  opacity: var(--auth-bg-opacity);
  background-color: var(--auth-bg-color);
  /* background-color: #202f43; */
}

/* auth form container */
.login-form-container,
.register-form-container {
  max-width: 450px;
  width: min(clamp(20rem, 18.4659vw + 14.235rem, 28.125rem), 95%);
  /* 320px 425vw    450px 1024vw */
  padding-inline: 10px;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

/* auth heading  */
.login-heading,
.register-heading {
  color: var(--auth-heading);
  /* margin-top: 50px; */
  margin-bottom: 0.5em;
  /* font-size: 2.5rem; */
  font-size: var(--fs-heading);
}

/* auth form input  */
.login-form input,
.register-form input {
  margin-block: 0.75rem;
  height: 40px;
  width: 100%;
  font-size: var(--fs-normal);
  border-radius: 3px;
}

input::placeholder {
  color: var(--auth-color);
  font-weight: 500;
}

input:focus-visible::placeholder {
  color: var(--placeholder-focus-color);
}

:is(.register-form, .login-form)
  :is(input[type="text"], input[type="email"], input[type="password"]) {
  color: var(--auth-color);
  background-color: transparent;
  font-weight: 500;
  border: none;
  border-bottom: var(--border-bottom);
  border-radius: 0;
}

:is(.login-form, .register-form) input:focus-visible {
  /* outline: 0px solid rgb(96, 96, 96); */
  outline: none;
  border-bottom: var(--border-bottom-focus);
}

/* google autofil  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s 0s;
  /* -webkit-background-clip: text; */
  caret-color: var(--auth-color);
  -webkit-text-fill-color: var(--auth-color);
  border-bottom: var(--border-bottom);
}

input:-webkit-autofill:focus-visible {
  border-bottom: var(--border-bottom-focus);
  -webkit-text-fill-color: var(--auth-color);
}

/* auth links  */
:is(.login, .register) a {
  /* .login a, */
  /* .register a { */
  text-decoration: none;
  font-weight: 700;
  color: var(--auth-color);
}

/* auth p  */
.login-form p,
.register-form p {
  text-align: left;
}

.login p,
.alt-sign-in,
.register p {
  font-size: var(--fs-normal);
  font-weight: var(--auth-btn-weight);
  color: var(--auth-color);
}

/* auth btn  */
.login .login-btn,
.register .register-btn {
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1.8em;
  font-size: clamp(0.875rem, 0.142vw + 0.84659rem, 0.9375rem);
  font-weight: 600;
  background-color: rgba(19, 19, 19, 0.9);
}

.login .login-btn:hover,
.register .register-btn:hover {
  background-color: #030303;
}
