.login,
.register {
  /* margin-bottom: 50px; */
  padding-block: 5rem;
}

.dark .login {
  color: white;
  background-color: var(--dark-bg-color);
}

.login > *,
.register > * {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.dark .login a {
  /* color: rgba(193, 193, 255, 0.766); */
  color: #0f6fff;
}

.login-form {
  max-width: 450px;
  padding-inline: 10px;
  margin-inline: auto;
}

.login-form input {
  margin-block: 10px;
  padding-inline: 10px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.661);
  font-size: var(--fs-normal);
  border-radius: 3px;
}

/* input:valid {
    border: 1px solid lime;
    background-color: red;
  } */

.login-form input[type="email"],
input[type="password"] {
  background-color: rgba(237, 237, 237, 0.4);
  font-weight: 500;
  /* background: white; */
  border: none;
  border-bottom: 1px solid rgb(179, 179, 179);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dark input[type="email"],
.dark input[type="password"] {
  /* background-color: none; */
  color: black;
}

.dark input::placeholder {
  color: white;
}

.login-form input:focus-visible {
  outline: 0px solid rgb(96, 96, 96);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.login-form p,
.or {
  text-align: left;
  font-size: var(--fs-normal);
}

.login-heading {
  /* margin-top: 50px; */
  margin-bottom: 1.5rem;
  /* font-size: 2.5rem; */
  font-size: var(--fs-heading);
}

.register-form input {
  padding: 5px;
  margin: 10px;
  height: 40px;
  width: 90%;
  max-width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.661);
  font-size: 1.2em;
  border-radius: 3px;
}
.register-form a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 20px;
}

.register-form {
  margin-bottom: 30px;
}

.register-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
