.newsletter {
  --mirage: #171e2a;
  --light-white: rgba(255, 255, 255, 0.3);
  --newsletter-h2-color: var(--dark);
  --newsletter-h3-color: var(--dark);
  --newsletter-color: black;
  --newsletter-bg-color: #f4f4f4e3;
  --newsletter-opacity: 0.95;
  --newsletter-input-color: rgba(0, 0, 0, 1);
  --newsletter-input-placeholder: rgba(30, 30, 30, 0.75);
  --newsletter-input-border: 1px solid var(--blue-zodiac);
  --newsletter-btn-bg: var(--blue-zodiac);
}

.dark_newsletter.newsletter {
  --newsletter-h2-color: rgba(255, 255, 255, 0.9);
  --newsletter-h3-color: rgba(255, 255, 255, 0.85);
  --newsletter-color: rgba(255, 255, 255, 0.8);
  --newsletter-bg-color: #091e37;
  --newsletter-opacity: 0.85;
  --newsletter-input-color: rgba(255, 255, 255, 0.8);
  --newsletter-input-placeholder: rgba(255, 255, 255, 0.7);
  --newsletter-input-border: 1px solid var(--light-white);
  --newsletter-btn-bg: var(--mirage);
}

/* newsletter background image  */
.newsletter {
  position: relative;
  background-image: url("https://i.ibb.co/R0R2wSk/slider-1.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 64px - 144px  320vw 1024vw */
  padding-block: clamp(4rem, 11.3636vw + 1.727rem, 9rem);
}

.newsletter:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  opacity: var(--newsletter-opacity);
  background-color: var(--newsletter-bg-color);
}

/* newletter info  */
.newsletter-info {
  position: relative;
  z-index: 1;
  width: min(900px, 100%);
  padding-inline: 0px;
  margin-inline: auto;
}

/* newsletter heading  */
.newsletter-heading-container {
  /* 8 - 16  320 - 1024 */
  margin-bottom: clamp(0.5rem, 1.13636vw + 0.272727rem, 1rem);
}

.newsletter-info h2 {
  display: inline-block;
  /* 28px /320vw -  48px/1024vw */
  font-size: clamp(1.75rem, 2.84091vw + 1.18182rem, 3rem);
  color: var(--newsletter-h2-color);
  font-weight: 600;
  margin-bottom: 0.3em;
  letter-spacing: 2px;
}

.newsletter-info h3 {
  display: inline-block;
  font-weight: 600;
  color: var(--newsletter-h3-color);
  font-size: clamp(0.9375rem, 1.13636vw + 0.710227rem, 1.4375rem);
}

.newsletter-form {
  --border-radius: 50px;
  border: var(--newsletter-input-border);
  border-radius: var(--border-radius);
  width: max(50%, 300px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: auto;
}

@media screen and (max-width: 320px) {
  .newsletter-form {
    width: 90%;
  }
}

/* newsletter input */
.newsletter input[type="email"] {
  color: var(--newsletter-input-color);
  font-weight: 500;
  background: transparent;
  border: none;
  /* border-radius: ; */
  /* 16 - 18 320 - 1024*/
  font-size: clamp(1rem, 0.284091vw + 0.943182rem, 1.125rem);
  /* 45 - 55px   320 - 1024vw  */
  width: 100%;
  height: clamp(2.8125rem, 1.42045vw + 2.52841rem, 3.4375rem);
  margin-inline: 1em;
}

.newsletter input[type="email"]::placeholder {
  color: var(--newsletter-input-placeholder);
  /* font-weight: 500; */
}

.newsletter input:focus-visible::placeholder {
  color: transparent;
}

.newsletter-info input:focus {
  outline: none;
}

.newsletter button {
  flex-grow: 0;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  border: none;
  font-size: clamp(0.75rem, 0.284091vw + 0.693182rem, 0.875rem);
  padding-inline: 2em;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: var(--newsletter-btn-bg);
  border-left: var(--newsletter-input-border);
}

.newsletter button:hover {
  background-color: var(--newsletter-btn-bg);
}

.newsletter-info p {
  color: var(--newsletter-color);
  /* 12 - 14px 320vw - 1024vw  */
  font-size: clamp(0.75rem, 0.284091vw + 0.693182rem, 0.875rem);
  /* font-size: 14px; */
  font-weight: 600;
  padding-top: 1em;
}

/* media query */
@media screen and (min-width: 425px) {
  .newsletter-info h2 {
    padding-inline: 1rem;
  }
}
