* {
  letter-spacing: 1px;
}

/* app style  */
.App {
  text-align: center;
  font-family: "Bai Jamjuree";
}

/* home products and explore products*/
:is(.products, .explore) {
  --products-bg-color: white;
  --products-h2: var(--dark);
  --products-h6: var(--dark);
  --card-box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.266);
}

.dark :is(.products, .explore__section) {
  --products-bg-color: rgb(35, 54, 75);
  --products-h2: rgba(255, 255, 255, 1);
  --products-h6: rgba(255, 255, 255, 0.85);
  --card-box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.5);
}

/* card col  */
:is(.explore__products, .demo__products) .col {
  padding-inline: 0.6rem;
  padding-block: 0.6rem;
}

/* product card */
.product {
  --card-color: var(--dark);
  --card-bg-color: white;
  --card-discount-ribbon-bg-color: orangered;
  --card-img-opacity: 1;
  --card-color: #161f2b;
  --card-delete-text-color: rgb(181, 181, 181);
  --card-rating-color: rgba(255, 189, 65, 0.95);
  --card-empty-color: rgba(200, 200, 200, 0.5);
  --dynamic-route-color: rgba(255, 255, 255, 0.88);
  --dynamic-route-bg-color: rgba(22, 31, 43, 0.9);
  --dynamic-route-hover-color: rgba(255, 255, 255, 0.95);
  --dynamic-route-hover-bg: rgba(0, 0, 0, 0.85);
  --dynamic-route-hover-box-shadow: 0 5px 5px rgba(128, 128, 128, 0.6);
}

.dark .product {
  --card-color: rgba(255, 255, 255, 0.8);
  --card-bg-color: rgba(28, 39, 55, 0.8);
  --card-discount-ribbon-bg-color: #161f2b;
  --card-img-opacity: 0.9;
  --card-color: rgba(255, 255, 255, 0.85);
  --card-delete-text-color: rgba(181, 181, 181, 0.5);
  --card-rating-color: rgba(255, 166, 0, 0.95);
  --card-empty-color: rgba(255, 194, 133, 0.35);
  --dynamic-route-color: rgba(255, 255, 255, 0.78);
  --dynamic-route-bg-color: rgba(0, 0, 0, 0.8);
  --dynamic-route-hover-color: rgba(255, 255, 255, 0.9);
  --dynamic-route-hover-bg: rgba(0, 0, 0, 0.85);
  --dynamic-route-hover-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
}

:is(.products, .explore__section) {
  background-color: var(--products-bg-color);
  /* 30 - 70px 320vw - 1024vw */
  padding-block: clamp(1.875rem, 5.68182vw + 0.738636rem, 4.375rem);
}

.demo__products,
.explore__products {
  width: min(100%, 82rem);
  display: flex;
  padding-inline: 1rem;
  margin: auto;
}

/* product section header style */
:is(.products, .explore__section) h2 {
  color: var(--products-h2);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: var(--fs-heading);
  margin-bottom: 0.5em;
}

.products h6 {
  color: var(--products-h6);
  font-size: var(--fs-sm-heading);
  font-weight: var(--h6-fw);
  letter-spacing: 3px;
  /* 16 - 32px 320vw - 1024vw */
  margin-bottom: clamp(1rem, 2.27273vw + 0.545455rem, 2rem);
}

/* product  */
.product {
  color: var(--card-color);
  background-color: var(--card-bg-color);
  border: 1px solid transparent;
  box-shadow: var(--card-box-shadow);
}

.product .card-body {
  padding: clamp(0.5rem, 1.13636vw + 0.22727rem, 1rem);
}

/* product img  */
.product .img-wrapper {
  width: min(100%, 200px);
  margin-inline: auto;
  position: relative;
}

.product__img {
  width: min(100%, 200px);
  /* height: min(auto, 200px); */
  margin-inline: auto;
  object-fit: cover;
  border-radius: 2px;
  opacity: var(--card-img-opacity);
}

@media screen and (max-width: 425px) {
  .product__img {
    width: 140px;
    height: 140px;
  }
}

/* product discount ribbon */
.img-wrapper .discount-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--card-discount-ribbon-bg-color);
  /* background-color: rgba(231, 231, 231, 0.887); */
  color: white;
  font-size: 0.8rem;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  padding-inline: 0.2em;
  border-radius: 0px 0px 0.25em 0.25em;
}

/* product card info */
.product__name {
  font-size: clamp(1rem, 0.568vw + 0.886rem, 1.25rem);
}

.product__price {
  font-size: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  margin-bottom: 0.5em;
}

.product__name,
.product__price {
  font-weight: 600;
  color: var(--card-color);
}

.product__price .price--main {
  font-size: clamp(1rem, 0.5681vw + 0.88636rem, 1.25rem);
  /* 18px/1.125rem/320vw - 20px/1.25rem/1200vw */
  /* 16px/1rem/320vw - 20px/1.25rem/1200vw */
  vertical-align: -0.28rem;
  /* vertical-align: -0.2rem; */
  /* -3.2px/-0.2rem/320vw - /-0.28rem/1200vw  */
  font-weight: 600;
}

.product__price .dollar-sign {
  font-size: clamp(0.725rem, 0.2727vw + 0.67045rem, 0.875rem);
  /* 11.6px/.725rem, 14px/.875rem 320vw - 1200vw */
  /* vertical-align: 0.025rem; */
  font-weight: 600;
}

/* product delete price */
.product .price--deleted,
.explore-item .price--deleted {
  color: var(--card-delete-text-color);
}

/* product rating */
.explore-item .rating--filled,
.product .rating--filled,
.explore-product .rating--filled {
  color: var(--card-rating-color);
}

.product .rating--filled,
.product .rating--empty {
  font-size: 1.2rem;
}

.rating--empty {
  color: var(--card-empty-color);
}

/* dynamic route */
.dynamic-route {
  text-decoration: none;
}

.dynamic-route button {
  background-color: var(--dynamic-route-bg-color);
  color: var(--dynamic-route-color);
  font-size: clamp(0.75rem, 0.142vw + 0.72159rem, 0.8125rem);
  margin-bottom: 0.8em;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.dynamic-route button:hover {
  background-color: var(--dynamic-route-hover-bg);
  color: var(--dynamic-route-hover-color);
  box-shadow: var(--dynamic-route-hover-box-shadow);
}

@media screen and (max-width: 768px) {
  .card_price .main_price,
  .card_price .discount_price {
    vertical-align: -0.17rem;
    /* vertical-align: -0.2rem; */
    /* -3.2px/-0.2rem/320vw, ,/-0.28rem/1200vw  */
  }
}
