.App {
  text-align: center;
}

a {
}

.btn-primary:focus {
  border: 1px solid black;
}

@media screen and (min-width: 400) {
  .dark .footer-top {
    text-align: center;
    color: red;
  }
  .top-footer {
    text-align: center;
  }
}

/* header */

.navbar {
  opacity: 0.95;
}
.nav {
  /* margin-inline: 50px; */
}

/* .nav-name {
  font-size: 1.5em;
} */

.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: blink 0.5s linear;
}

@keyframes blink {
  0% {
    height: 0px;
    width: 0px;
    opacity: 0.5;
  }
  100% {
    height: 400px;
    width: 400px;
    opacity: 1;
  }
} */
/* 
.nav-button:hover {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.8);
}
.logOut_btn {
  background-color: rgba(253, 0, 0, 0.2);

  background-position: center;
  background-image: radial-gradient(
    circle,
    transparent 1%,
    rgb(106, 30, 30) 1%
  );
}

.ripple {
  transition: background 0.6s;
  background-size: 11000%;
}

.ripple:active {
  transition: background 0s;
  background-size: 100%;
}
.logOut_btn:active {
  background-color: rgb(255, 0, 0);
} */

/* .logOut_btn:hover {
} */

@media screen and (max-width: 500px) {
  .nav {
    /* margin-inline: 10px; */
  }

  .nav-name {
    /* font-size: 1em; */
  }
}

/* product */

.card {
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.266);
}
.card-img {
  width: 50%;
  margin: auto;
}

.card-name {
  font-size: 1.3em;
  font-weight: 600;
}

.dynamic-route {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.card-description {
  /* max-width: 400px ; */
  margin-inline: auto;
  font-weight: 400;
  font-size: 1em;
  /* color: rgb(41, 38, 49); */
}

@media screen and (max-width: 800px) {
  .card-img {
    width: 100%;
  }
}

/* products */

.products {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 10px 100px;
}

.products-header {
  font-size: 3rem;
  padding-top: 0.5em;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .products-header {
    font-size: 1.7rem;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .products {
    padding: 0;
  }
}

/* dark mode */

.dark {
  background-color: rgba(33, 37, 41, 0.99);
  color: rgba(255, 255, 255, 0.8);
}

.dark a
/* .dark .navbar-nav .nav-link */ {
  color: rgba(255, 255, 255, 0.8);
}

/* .dark .navbar,
.dark .explore,
.dark .products,
.dark .products-header {
  background-color: #26292d; 
  background-color: rgb(33, 37, 41);
} */

/* dark header */

.dark .navbar-nav a {
  color: rgba(255, 255, 255, 0.55);
}

.dark .navbar-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.dark .navbar-nav a:focus {
  color: rgba(255, 255, 255, 1);
}
.dark .navbar {
  background-color: rgb(29, 31, 34);
}

.dark .dropdown-menu {
  /* background-color: #26292d; */
  background-color: rgb(33, 35, 36);
  color: rgba(255, 255, 255, 0.8);
}

.dark .navbar-nav .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0);
}

.dark .navbar-nav .nav_dropdown_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* .dark .newsletter {
  color: rgba(0, 0, 0, 0.8);
} */

/* .dark .MuiRating-iconEmpty {
  outline: solid white;
} */

/* dark banner */
.dark .banner-btn {
  color: rgba(0, 0, 0, 0.8);
}

/* dark product */

.dark .product {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(33, 37, 41, 0.537);
}

.dark .products-header {
  color: rgba(255, 255, 255, 0.9);
}

/* dark review */
.dark .reviews-container {
  background-color: rgb(29, 31, 34);
}

.dark .single-review {
  background-color: rgba(33, 37, 41, 0.99);
}

/* footer */
.dark .footer-top {
  color: white;
}

.dark .footer-top a,
.dark .footer-top p {
  color: var(--footer-color);
}
.dark .links a:hover,
.dark .contacts p:hover {
  color: rgba(255, 255, 255, 1);
  /* font-weight: 500; */
}
.dark .icon-links a {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.dark .icon-links a:hover {
  background-color: white;
  /* color: black; */
  box-shadow: 4px 4px 3px 1px black;
}

.dark .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  color: var(--footer-color);
}

/* light mode */

/* light header */
.light .navbar {
  background-color: rgba(239, 237, 237, 0.729);
}

.light .navbar a {
  color: rgba(33, 33, 33, 0.732);
}

/* light footer */

.light .footer-top {
  color: black;
}
.light .footer-top a,
.light .footer-top p {
  color: rgba(0, 0, 0, 0.6);
}

/* .light .footer-info {
  /* font-weight: 500; *
} */
.light .links a:hover,
.light .contacts p:hover {
  color: rgb(0, 0, 0);
  /* font-weight: 500; */
}

.light .icon-links a {
  border: 1px solid rgba(73, 73, 73, 0.905);
  color: rgb(62, 62, 62);
}
.light .icon-links a:hover {
  background-color: rgba(226, 226, 226, 0.7);
  border: 1px solid rgb(255, 255, 255);
  /* color: black; */
  box-shadow: 4px 4px 3px 1px rgb(144, 144, 144);
}

.light .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0);
  /* color: var(--footer-color); */
}

.light .footer-bottom p {
  color: black;
  font-weight: 500;
}
.light .contacts p {
  color: black;
}
