:root {
  --dark: rgb(33, 37, 41);
  --light: rgba(255, 255, 255, 0.9);
  --blue-zodiac: rgb(29, 46, 70);
  --mirage: #171e2a;
  --main-color: rgba(136, 130, 171, 0.676);
  --dark-card-bg-color: rgba(28, 39, 55, 0.8);

  --light-card-box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.266);
  --dark-card-box-shadow: -7px 10px 9px 1px rgba(0, 0, 0, 0.15);

  /* font size  */
  --fs-normal: clamp(0.875rem, 0.284vw + 0.82rem, 1rem);
  /* 30 - 50px 320-1024vw  */
  --fs-heading: clamp(1.875rem, 2.84091vw + 1.30682rem, 3.125rem);
  /* 13 - 16px 320 - 1024vw */
  --fs-sm-heading: clamp(0.8125rem, 0.426136vw + 0.727273rem, 1rem);

  --dark-bg-color: rgb(35, 54, 75);
}

/*
 main color: rgba(136, 130, 171, 0.676)
 light card box shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.266);
 dark products bg color: rgb(35, 54, 75)
 dark card bg color: rgba(28, 39, 55, 0.8);
 dark card box shadow: -7px 10px 9px 1px rgba(0, 0, 0, 0.15);
 */

/* bai-jamjuree-300 - latin */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-300.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-300.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bai-jamjuree-regular - latin */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bai-jamjuree-500 - latin */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-500.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bai-jamjuree-600 - latin */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bai-jamjuree-700 - latin */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../public/asset/fonts/bai-jamjuree/bai-jamjuree-v11-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
